<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class = "small-6 columns">
    <%= f.label :amt %><br>
    <%= f.text_field :amt %>
  </div>
</div>
 
  <div class="row">
    <div class = "small-6 columns">
    <%= f.label :donor_id %><br>
    <%= f.collection_select(:donor_id, Donor.all, :id, :name ) %>
  </div>
  </div>
  <div class="row">
    <div class = "small-6 columns">
    <%= f.submit %>
  </div>
</div>


<% end %>
