<h1>Listing donations</h1>

<table>
  <thead>
    <tr>
      <th>Amt</th>
      <th>Data</th>
      <th>Donor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.amt %></td>
        <td><%= donation.created_at.strftime("%b %d, %Y") %></td>
        
        <td><%= link_to 'Show', donation %></td>
        <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
        <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% @sums = @donations.sum(:amt) %>
<p><span> Total Raised <%= number_to_currency(@sums) %></span></p>



<%= link_to 'New Donation', new_donation_path, class: "button" %>
