<p id="notice"><%= notice %></p>

<p>
  <strong>Amt:</strong>
  <%= @donation.amt %>
</p>

<p>
  <strong>Data:</strong>
  <%= @donation.data %>
</p>

<p>
  <strong>Donor:</strong>
  <%= @donation.donor_id %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
